@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  color: #768298;
  padding: 0;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div, p, input, button, form, span, a, ul, li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, ul {
  padding: 0;
  margin: 0;
}

.header {
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}

.header__container {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
  min-height: 31px;
}

.header__input {
  position: relative;
  width: 65%;
}

.header__input .input-area {
  min-height: 40px;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  border: 1px solid #EBEBF1;
  border-radius: 5px;
  padding-left: 38.2px;
  width: 100%;
  letter-spacing: 0.5px;
  padding-top: 2px;
}

.header__input .input__search {
  position: absolute;
  left: 0px;
  top: 7px;
  width: 24px;
  height: 25px;
}

.header__login {
  display: none;
}

.header__user {
  min-width: 131px;
  padding-right: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__user::before {
  content: '';
  display: block;
  min-height: 81px;
  width: 1px;
  background-color: #EBEBF1;
  position: absolute;
  left: -20px;
}

.header__user .user__photo {
  width: 40px;
}

.main__container {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 78px;
}

.main__title {
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 39px;
  font-size: 2.4em;
  letter-spacing: 1.2px;
}

.main__brends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 31px;
}

.main__brends .brend {
  cursor: url("img/cursor.png"), pointer;
  border: 1px solid #EBEBF1;
  height: 119px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 32px;
  padding-bottom: 33px;
  min-width: 23%;
  max-width: 100%;
}

.main__brends .brend:nth-child(4) {
  margin-right: 0;
}

.main__brends .brend:hover {
  -webkit-box-shadow: -3px 0 40px rgba(0, 0, 0, 0.1), 0 0 10px rgba(164, 164, 164, 0.03);
          box-shadow: -3px 0 40px rgba(0, 0, 0, 0.1), 0 0 10px rgba(164, 164, 164, 0.03);
  background-color: #fff;
}

.main__brends .brend img {
  max-height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1216px) {
  .header__container {
    padding-left: 24px;
    padding-right: 19px;
  }
  .header__input {
    width: 55%;
  }
  .main__container {
    padding-left: 55px;
  }
}

@media (min-width: 768px) and (max-width: 874px) {
  .header__container {
    max-width: 768px;
    margin: 0 auto;
    padding: 20px 18px 20px 20px;
  }
  .header .input-area {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    width: 85%;
    padding-left: 36px;
  }
  .header .input__search {
    left: 28px;
  }
  .main__container {
    max-width: 768px;
    margin: 0 auto;
    padding-top: 76px;
    padding-left: 20px;
  }
  .main__title {
    letter-spacing: 0.6px;
    font-size: 1.9em;
    padding-bottom: 36px;
  }
  .main__brends {
    gap: 21.3px;
  }
  .main__brends .brend {
    min-width: 30.5%;
  }
  .main__brends .brend .brend__logo--jonhdeere {
    width: 185px;
  }
  .main__brends .brend .brend__logo--nike {
    min-width: 145px;
  }
  .main__brends .brend .brend__logo--mcdonald {
    width: 100px;
  }
  .main__brends .brend .brend__logo--ikea {
    width: 175px;
  }
  .main__brends .brend .brend__logo--reebok {
    width: 190px;
  }
  .main__brends .brend .brend__logo--caterpillar {
    width: 195px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .header__container {
    min-width: 375px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    padding-top: 17px;
    position: relative;
  }
  .header__logo {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-bottom: 16px;
  }
  .header__user {
    display: none;
  }
  .header__login {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 22px;
  }
  .header__input {
    width: 100%;
  }
  .header__input .input__search {
    padding-left: 20px;
  }
  .header__input .input-area {
    border: none;
    min-width: 390px;
    border-radius: none;
    padding-left: 59px;
    border-top: 1px solid #E5E5E5;
  }
  .main__container {
    padding-top: 77px;
    padding-left: 20px;
  }
  .main__container .brend {
    min-width: 100%;
    min-height: 140px;
  }
  .main__container .brend__logo--henkel {
    width: 145px;
  }
  .main__container .brend__logo--nike {
    min-width: 145px;
  }
  .main__container .brend__logo--mcdonald {
    width: 100px;
  }
  .main__container .brend__logo--ikea {
    width: 195px;
  }
  .main__container .brend__logo--caterpillar {
    width: 245px;
  }
  .main__title {
    font-size: 1.9em;
    letter-spacing: 0.6px;
    padding-bottom: 36px;
  }
  .main__brends {
    padding-right: 20px;
    gap: 20.2px;
  }
}

@media (max-width: 375px) {
  .header__input {
    display: none;
  }
  .main__brends {
    padding-right: 36px;
  }
  .main .brend {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */